<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigBrain | Math Final Score Page</title>
    <link href="/img/BigBrain_logo.png" rel="icon" type="image/x-icon" />

    <!-- For the header and footer (used bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!------------------------------------------------->


    <link rel="stylesheet" href="css/finalScore.css">

</head>



<body class="numbers" onload="changeScore();">

    <nav id="navbar"></nav>

    <script>
        var gameScore = sessionStorage.getItem('score');

        function changeScore() {
            document.getElementById("gamescore").innerText = gameScore;

        }
    </script>

    <div class="score">
        <p>Your Score:</p>
        <label id="gamescore"></label>
        <p>Your Highscore:</p>
        <label id="gamescore"><%= Highscore %></label>
    </div>

    <a class="button" href="/mathgame">
        <button id="playagain">Play Again</button>
    </a>

    <footer>
        <p>&copy;BigBrain</p>
    </footer>

    <script src="/scripts/skeleton.js"></script>
    <script src="/scripts/mathgame.js"></script>

</body>


</html>