<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/img/BigBrain_logo.png" rel="icon" type="image/x-icon" />
	<title>BigBrain | Signup</title>
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>

<body>
	<div class="bg">
		<div class="content">
			<h1>Registration</h1>
			<form action="/register" method="POST">
				<div class="txt_field2">
					<label>Username*</label>
					<input type="text" autocomplete="off" id="username" name="username" placeholder="Username"
						required />
				</div>
				<div class="txt_field2">
					<label>First name*</label>
					<input type="text" autocomplete="off" id="firstname" name="firstname" placeholder="First Name"
						required />
				</div>
				<div class="txt_field2">
					<label>Last name*</label>
					<input type="text" autocomplete="off" id="lastname" name="lastname" placeholder="Last Name"
						required />
				</div>

				<div class="txt_field2">
					<label>Password*</label>
					<input type="password" autocomplete="off" id="password" name="password" placeholder="Password"
						required />
				</div>

				<div class="submit_button">
					<button>Submit</button>
				</div>

				<div class="login_text">
					<label>Already have an account? </label>
				</div>

				<div class="login_link">
					<label><a href="/login"> Back to the login page here!</a></label>
				</div>

			</form>
		</div>
	</div>

</body>

</html>