body{
    background-color: #c5f9d7;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    border-radius: 50%;
}

.button {
    padding-right: 0px;
    padding-left: 0px; 
    background: none; 
    border: none;
    color: rgba(0,0,0,.55);
    margin: 2px;
    
}

form {
    height: 40px;
}

@media (min-width: 992px) {
    .button {
        background: none; 
        border: none;
    }
}