/* For the header */
.button {
    padding-right: 0px;
    padding-left: 0px; 
    background: none; 
    border: none;
    color: rgba(0,0,0,.55);
    margin: 2px;
}

.button:hover {
    color: black;
    transition: color .15s ease-in-out,black .15s ease-in-out,black .15s ease-in-out;
}

form {
    height: 40px;
}

.navbar-brand img {
    border-radius: 50%;
}

@media (min-width: 992px) {
    .button {
        margin: 0px;
        padding: 8px; 
        background: none; 
        border: none;
    }
}  

/* CSS */
body{
    font-family: montserrat, monospace;
    background: #F4F1DE;
    height: 100vh;  
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.bg {
    background-image: url(/img/dashboard.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#info {
    background: linear-gradient(0deg, rgba(46, 38, 38, 0.2), rgba(46, 38, 38, 0.2)), rgba(244, 241, 222, 0.5);
    border-radius: 27px;
    margin-left: 7%;
    margin-right: 7%;
    padding: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h1{
    padding: 30px;
}

.photo img{
    height: 150px;
    border-radius: 30%;
}

.form-id{
    width: 500px;
}

.form-group{
    width: 500px;
    margin: auto;
}

img {
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.form-group{
    font-size: 15px;
    padding-top: 25px;
}

#field1{
    margin-left: 75px;
}

#field2{
    margin-left: auto;
}

#field3{
    margin-right: auto;
}

#field4{
    margin-right: auto;
}

#field5{
    margin-right:auto;
}

.buttons>button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #555555;
    color: white;
}

.buttons>button{
    margin: 11px;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

#userProfileForm{
    text-align: center;
    width: 375px;
    display:inline-block;
}

@media screen and (max-width: 700px) {

.form-group{
    margin: auto auto;
    display: grid;
    width: 50%;
    height: 60px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding-top: 7px;
}

.form-group label{
    grid-column: 1/1;
    grid-row: 1/2;
}

.form-group input{
    grid-column: 1/1;
    grid-row: 2/2;
}



.container {
    margin: auto;
}


}
